/* Navbar */

.nav__links li {
  display: inline-block;
  padding: 0px 40px;
}

.navigationbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigationbarlogo {
  cursor: pointer;
  margin-right: auto;
  
}

li a button {
  text-decoration: none;
  color: white;
}

.navbar-smallscreen_links {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  transition: 0.5 ease;
  flex-direction: column;
  z-index: 5;
}
.navbar-smallscreen {
  display: none;
}
.navbar-smallscreen_links .p__font {
  color: white;
}
.navbar-smallscreen_links .overlayclose {
  font-size: 27px;
  color: white;
  cursor: pointer;

  position: absolute;
  top: 20px;
  right: 20px;
}

/* Media Queries */

@media screen and (max-width: 2000px) {
  .navigationbarlogo {
    
    /* width: 150px; */
  }
}

@media screen and (max-width: 1150px) {
  .nav__links {
    display: none;
  }

  .navbar-smallscreen {
    display: flex;
  }
  .navigationbarlogo {
    /* width: 200px; */
  }

}

@media screen and (max-width: 650px) {
  .navigationbar {
    
  }

  .navbar-smallscreen {
    display: flex;
  }

  .navigationbarlogo {
    /* width: 200px; */
  }
}

/* Header */

